/* breakpoint */

@media screen and (max-width: 430px) {
  nav ul {
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
  nav ul li a {
    font-size: 16px;
  }

  .benefits {
    flex-direction: column;
    align-items: start;
  }

  .features img {
    width: 44px;
  }
  .features p {
    font-size: 16px;
  }

  .hero_section p {
    font-size: 28px;
  }

  .packet_choice {
    width: 100%;
    margin: 12px 0px;
    padding: 24px 0px;
    gap: 20px;
    box-sizing: border-box;
  }
  .packet_choice h2 {
    font-size: 20px;
  }

  .card {
    flex-direction: column;
  }
  .coverage {
    width: 100%;
    padding: 12px 0px;
    gap: 8px;
    margin: 24px 0px;
  }

  .coverage .search {
    width: 70%;
  }

  .coverage h2 {
    font-size: 14px;
    padding: 0;
  }
  footer {
    width: 100%;
    flex-direction: column;
    gap: 24px;
    padding: 0px 4px;
    box-sizing: border-box;
  }

  footer p {
    display: none;
  }
}
