@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1336px;
}
nav {
  background-color: #ffffff;
  width: 100%;
  padding: 14px 0px;
  border-bottom: #dadada solid 1px;
}
nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 34px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #060c16;
  font-size: 18px;
  font-family: poppins;
  font-weight: regular;
}

nav a:hover {
  color: #387adf;
}

.hero_section {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.hero_section p {
  font-size: 40px;
  font-family: poppins;
  font-weight: semibold;
  color: #060c16;
  width: 70%;
  text-align: center;
  margin: 0;
}

.txt_highlight {
  color: #387adf;
}

.benefits {
  margin: 24px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.features {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.features p {
  font-size: 20px;
  font-family: poppins;
  font-weight: regular;
  color: #060c16;
}

.packet_choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100%;
  background-color: #387adf;
  padding: 38px;
  gap: 38px;
  border-radius: 12px;
}

.packet_choice h2 {
  font-size: 32px;
  font-family: poppins;
  font-weight: medium;
  color: #ffffff;
  margin: 0;
}

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 24px;
}

.card_item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 14px;
  gap: 14px;
  height: fit-content;
  width: 280px;
}
.card_item h2,
p {
  color: #060c16;
}

.card_item h2 {
  font-size: 20px;
  font-weight: medium;
  margin: 0;
  padding: 0;
}

.card_item p {
  font-size: 28px;
  font-weight: medium;
  margin: 24px 0px;
  padding: 0;
}

.card_item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card_item button {
  background-color: #387adf;
  padding: 12px 24px;
  margin-top: 32px;
  width: 100%;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: medium;
}

.coverage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  background-color: #f0f0f0;
  gap: 32px;
  width: 100%;
  padding: 32px;
  margin: 48px 0px;
}

.coverage h2 {
  font-size: 32px;
  font-weight: medium;
  color: #060c16;
  margin: 0;
  padding: 0;
}
.coverage .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: fit-content;
}

.coverage .search input[type="text"] {
  padding: 12px 24px;
  border-radius: 16px;
  border: none;
  width: 240px;
  font-size: 14px;
}

.coverage button {
  background-color: #387adf;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  color: #ffffff;
  font-size: 14px;
  font-weight: medium;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding: 32px;
  justify-content: space-between;
}
footer .about {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 30%;
  text-align: left;
}

footer .media {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 30%;
}

footer .media h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: medium;
  color: #060c16;
}

footer .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 18px 0px;
}
